@import "tailwindcss";

@theme {
  --spacing: 1px;

  --animate-shimmer: shimmer 1.5s infinite linear;

  @keyframes shimmer {
    0% {
      transform: translateX(-150%);
    }
    100% {
      transform: translateX(150%);
    }
  }
}

button.icon-button {
  @apply items-center rounded-md py-8 text-sm/6 font-semibold text-gray-500 focus:outline-none data-[hover]:text-gray-600 data-[focus]:outline-1 data-[focus]:outline-gray-600 cursor-pointer;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #bbb;
  cursor: pointer;
}

h1 {
  @apply text-xl font-bold mb-16;
}
